Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,json,yml,astro}": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write", "textlint --fix"]
}

Fix list in Tags page
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

Change base color
  src/layouts/Layout.astro
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Fix content image directory
  src/content/images/2018-hurikaeri/github-contributions.png
  src/content/images/2018-hurikaeri/listen-cds.png
  src/content/images/2018-hurikaeri/posts-articles.png
  src/content/images/2018-hurikaeri/read-books.png
  src/content/images/migrate-astro/gatsby-satisfaction.png
  src/content/images/netlify-forms/recaptcha.png
  src/content/images/nextjs-api-request/nextjs-api-request.jpg
  src/content/images/qr-generate/example.gif
  src/content/images/satori-og-image/astro-og-sample.png
  src/content/images/setting-hhkb/karabiner-settings.png
  src/content/posts/2018-hurikaeri.md
  src/content/posts/migrate-astro.md
  src/content/posts/netlify-forms.md
  src/content/posts/nextjs-api-request.md
  src/content/posts/qr-generate.md
  src/content/posts/satori-og-image.md
  src/content/posts/setting-hhkb.md
Due: prettier --write, textlint --fix

Update favicon
  public/favicon.ico
  public/favicon.svg
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write

Update UI
  src/components/CalendarIcon.astro
  src/components/Header.astro
  src/components/ProfileCard.astro
  src/images/icon.svg
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Fix width
  src/components/Footer.astro
  src/components/Header.astro
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

Fix link UI style and markdown style
  src/components/Header.astro
  src/components/Tag.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Add tools/create-post
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/create-post/index.ts
  tools/create-post/package.json
  tools/create-post/tags.json
  tools/create-post/template.md
Due: eslint --fix, prettier --write, textlint --fix

Add tools/remark-ogp-card
  astro.config.mjs
  pnpm-lock.yaml
  src/content/posts/2020-04-hurikaeri.md
  src/content/posts/migrate-astro.md
  src/styles/markdown-body.css
  tools/remark-ogp-card/index.js
  tools/remark-ogp-card/package.json
Due: eslint --fix, prettier --write, textlint --fix

Updae ogp-card style
  src/styles/markdown-body.css
Due: none

Remove remark-card dark style
  src/styles/markdown-body.css
Due: none

Post remark-ogp-card
  src/content/posts/remark-ogp-card.md
Due: prettier --write, textlint --fix

Fix link url in posts
  src/content/posts/playwright-fake-timer.md
  src/content/posts/redux-saga-test-plan-error.md
  src/content/posts/serverless-resource-policy.md
  src/content/posts/serverless-typescript-express.md
  src/content/posts/serverless-webpack-node_env.md
  src/content/posts/visual-studio-for-mac-global-json-rollforward.md
  src/content/posts/web-test-runner-typescript.md
Due: prettier --write, textlint --fix

Rename function name get -> GET
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

Post value-significance
  src/content/posts/value-significance.md
Due: prettier --write, textlint --fix

Fix create-post
  tools/create-post/index.ts
Due: eslint --fix, prettier --write

Add remoteEnv
  .devcontainer/devcontainer.json
Due: eslint --fix, prettier --write

Add paths and baseUrl in tsconfig
  src/components/ProductionOnly.astro
  src/components/ProfileCard.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/og/[slug].png.ts
  src/pages/posts/[slug].astro
  src/pages/tags/[tag].astro
  tsconfig.json
Due: eslint --fix, prettier --write

Open file after created (create-post)
  pnpm-lock.yaml
  tools/create-post/index.ts
  tools/create-post/package.json
Due: eslint --fix, prettier --write

Draft why-i-dont-use-else-if
  src/content/posts/why-i-dont-use-else-if.md
Due: prettier --write, textlint --fix

Enabled sticky scroll
  .devcontainer/devcontainer.json
Due: eslint --fix, prettier --write

Add pagefind and create /search
  package.json
  pnpm-lock.yaml
  src/components/Search.astro
  src/pages/search/index.astro
Due: eslint --fix, prettier --write

Update why-i-dont-use-else-if
  src/content/posts/why-i-dont-use-else-if.md
Due: prettier --write, textlint --fix

Fix why-i-dont-use-else-if
  src/content/posts/why-i-dont-use-else-if.md
Due: prettier --write, textlint --fix

Fix layout privacy-policy
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write

Post ssr-remix-on-cloudflare-pages
  src/content/images/ssr-remix-on-cloudflare-pages/gholdengo.png
  src/content/images/ssr-remix-on-cloudflare-pages/hello-world.png
  src/content/posts/ssr-remix-on-cloudflare-pages.md
Due: prettier --write, textlint --fix

Update top layout
  src/pages/index.astro
Due: eslint --fix, prettier --write

Change title and title logo
  src/components/Header.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Add Inter in font-family
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/posts/[slug].astro
  src/styles/global.css
  tailwind.config.cjs
Due: eslint --fix, prettier --write

Add posts/hono-dependency-injection
  src/content/posts/hono-dependency-injection.md
Due: prettier --write, textlint --fix

Update post/hono-dependency-injection
  src/content/posts/hono-dependency-injection.md
Due: prettier --write, textlint --fix

Post hono-dependency-injection
  src/content/posts/hono-dependency-injection.md
Due: prettier --write, textlint --fix

Add vscode extensions in devcontainer
  .devcontainer/devcontainer.json
Due: eslint --fix, prettier --write

Add ViewTransitions
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write

Fix husky
  .husky/pre-commit
  package.json
Due: eslint --fix, prettier --write

Encode title (remark-ogp-card)
  tools/remark-ogp-card/index.js
Due: eslint --fix, prettier --write

Add create-reading-progress
  src/content/posts/create-reading-progress.md
Due: prettier --write, textlint --fix

Add ReadingProgress
  src/components/ReadingProgress.astro
  src/pages/posts/[slug].astro
Due: eslint --fix, prettier --write
