Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

Update post/nextjs-api-request
  src/content/posts/nextjs-api-request.md
Due: prettier --write, textlint --fix

Add post/refactoring-by-chatgpt
  src/content/posts/refactoring-by-chatgpt.md
Due: prettier --write, textlint --fix

Post refactoring-by-gpt
  src/content/posts/refactoring-by-chatgpt.md
Due: prettier --write, textlint --fix

Post nextjs-api-request
  public/assets/nextjs-api-request.jpg
  src/content/posts/nextjs-api-request.md
Due: prettier --write, textlint --fix

Update Node v20
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-and-preview.yml
Due: eslint --fix, prettier --write

Add post/playwright-nextjs-api-request
  src/content/posts/playwright-nextjs-api-request.md
Due: prettier --write, textlint --fix

Update post/playwright-nextjs-api-request
  src/content/posts/playwright-nextjs-api-request.md
Due: prettier --write, textlint --fix

Post popover-api
  src/content/posts/popover-api.md
Due: prettier --write, textlint --fix

Post chrome-devtools-recorder
  src/content/posts/chrom-devtools-recorder.md
Due: prettier --write, textlint --fix

Update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix format
  src/components/OgpImage.tsx
  src/content/posts/js-multiple-includes.md
  src/content/posts/nextjs-api-request.md
  src/content/posts/refactoring-by-chatgpt.md
  src/content/posts/serverless-typescript-express.md
  src/content/posts/serverless-typescript.md
  src/lib/repositories/posts.ts
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write, textlint --fix

Audit fix
  package-lock.json
Due: eslint --fix, prettier --write

Change npm -> pnpm
  .devcontainer/devcontainer.json
  package-lock.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Change npm -> pnpm in Actions
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-and-preview.yml
Due: eslint --fix, prettier --write

Add pnpm-lock.yaml in prettierignore
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-and-preview.yml
  .prettierignore
Due: eslint --fix, prettier --write

Post parseint-and-number
  src/content/posts/parseInt-and-Number.md
Due: prettier --write, textlint --fix

fix space
  src/components/Header.astro
Due: eslint --fix, prettier --write

Fix format
  src/content/posts/serverless-typescript-express.md
  src/content/posts/serverless-typescript.md
Due: prettier --write, textlint --fix

fix server-endpoints
  src/pages/og/[slug].png.ts
Due: eslint --fix, prettier --write

Post jest-custom-error-assert
  src/content/posts/jest-custom-error-assert.md
Due: prettier --write, textlint --fix

Fix layout
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

Add prettier-plugin-astro in prettierrc
  .prettierrc.json
Due: eslint --fix, prettier --write

Fix small display layout
  src/components/Footer.astro
  src/components/Header.astro
  src/pages/index.astro
  src/pages/posts/[slug].astro
Due: eslint --fix, prettier --write

Update prettierrc
  .prettierrc.json
Due: eslint --fix, prettier --write

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: eslint --fix, prettier --write

Fix layout
  src/pages/index.astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

Add prefetch
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: eslint --fix, prettier --write

Fix pnpm lockfile
  pnpm-lock.yaml
Due: none

Setting font-family
  astro.config.mjs
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/styles/global.css
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Import github-markdown-css
  src/styles/markdown-body.css
Due: none

Fix github-markdown-css
  src/styles/markdown-body.css
Due: none

Fix list-style and code-title
  src/pages/index.astro
  src/styles/global.css
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Skip husky install when NODE_ENV=production
  package.json
Due: eslint --fix, prettier --write

Post netlify-to-cloudflare-pages
  src/content/posts/netlify-to-cloudflare-pages.md
Due: prettier --write, textlint --fix

Add ja-space-between-half-and-full-width
  .devcontainer/devcontainer.json
  .textlintrc
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update netlify-to-cloudflare-pages
  src/content/posts/netlify-to-cloudflare-pages.md
Due: prettier --write, textlint --fix

Fix actions
  .github/workflows/build-and-preview.yml
  .github/workflows/lint-and-build.yml
Due: eslint --fix, prettier --write

Fix redirect
  public/_redirects
Due: none

Update prefetch
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,cjs,mjs,json,yml,astro}
  prettier --write: (any of: *.{ts,js,cjs,mjs,json,yml,astro}) or (any of: *.md)
  textlint --fix: any of: *.md
