Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

Fix create-post template
  tools/create-post/template.md
Due: prettier --write, textlint --fix

Fix create-post template description
  tools/create-post/template.md
Due: prettier --write, textlint --fix

Add font
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Add back button in header
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

Change lucide-astro -> lucide-react
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Modify back button style
  src/components/Header.astro
Due: eslint --fix, prettier --write

feat: Add View Transitions
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write

Add post/durable-functions-typescript
  src/content/posts/durable-functions-typescript.md
Due: prettier --write, textlint --fix

post: Modify durable-functions-typescript
  src/content/posts/durable-functions-typescript.md
Due: prettier --write, textlint --fix

chore: Update node version
  .github/workflows/lint-and-build.yml
Due: eslint --fix, prettier --write

Add post/publix-suffix-list
  src/content/posts/public-suffix-list.md
Due: prettier --write, textlint --fix

Update public-suffix-list
  src/content/posts/public-suffix-list.md
Due: prettier --write, textlint --fix

Add post/in-my-own-words
  src/content/posts/in-my-own-words.md
Due: prettier --write, textlint --fix

Update post/in-my-own-words
  src/content/posts/in-my-own-words.md
Due: prettier --write, textlint --fix

Update post/public-suffix-list
  src/content/posts/public-suffix-list.md
Due: prettier --write, textlint --fix

Add post/from-you-10-years-ago
  src/content/posts/from-you-10-years-ago.md
Due: prettier --write, textlint --fix

feat: setup Vitest and add first test for sortByPublishDate
  package.json
  pnpm-lock.yaml
  src/lib/repositories/posts.test.ts
  src/lib/repositories/posts.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: add comprehensive tests for isProduction environment variable
  src/lib/environments.test.ts
Due: eslint --fix, prettier --write

test: add comprehensive tests for create-post utility functions
  tools/create-post/index.test.ts
  tools/create-post/index.ts
Due: eslint --fix, prettier --write

test: add comprehensive tests for remark-ogp-card utility functions
  tools/remark-ogp-card/index.js
  tools/remark-ogp-card/index.test.js
Due: eslint --fix, prettier --write

feat: add GitHub Actions test execution with coverage
  .github/workflows/lint-and-build.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: correct test coverage command in GitHub Actions workflow
  .github/workflows/lint-and-build.yml
Due: eslint --fix, prettier --write

refactor: remove redundant coverage script from package.json
  package.json
Due: eslint --fix, prettier --write

Add astro-eslint-parser
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add pagination to index page
  src/components/Pagination.astro
  src/pages/[...page].astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: add option to skip OGP image generation
  package.json
  src/lib/environments.test.ts
  src/lib/environments.ts
  src/pages/og/[slug].png.ts
  src/pages/posts/[id].astro
Due: eslint --fix, prettier --write

fix: resolve ESLint type errors in pagination components
  src/components/Pagination.astro
  src/pages/[...page].astro
Due: eslint --fix, prettier --write

refactor: remove unnecessary comment from pagination page
  src/pages/[...page].astro
Due: eslint --fix, prettier --write

Add CLAUDE.md
  CLAUDE.md
Due: prettier --write, textlint --fix

Add mise.toml
  mise.toml
Due: none

Convert astro.config.mjs to TypeScript for better type safety
  astro.config.ts
Due: eslint --fix, prettier --write

Convert remark-ogp-card to TypeScript for better type safety
  CLAUDE.md
  pnpm-lock.yaml
  tools/remark-ogp-card/index.test.ts
  tools/remark-ogp-card/index.ts
  tools/remark-ogp-card/package.json
  tools/remark-ogp-card/tsconfig.json
Due: eslint --fix, prettier --write, textlint --fix

Align remark-ogp-card dependencies with root package versions
  tools/remark-ogp-card/package.json
Due: eslint --fix, prettier --write

Update pnpm-lock.yaml to reflect dependency version changes
  pnpm-lock.yaml
Due: none

Updae CLAUDE.md
  CLAUDE.md
Due: prettier --write, textlint --fix

Fix format
  src/content/posts/https-blog.md
Due: prettier --write, textlint --fix

Post bun-coverage-report-action
  src/content/images/bun-coverage-report-action/report.png
  src/content/posts/bun-coverage-report-action.md
Due: prettier --write, textlint --fix

Creating development environment to add test:coverage script and integrate vitest-coverage-report GitHub action
  .container-use/AGENT.md
  .container-use/environment.json
Due: eslint --fix, prettier --write, textlint --fix

Installing Node.js and pnpm using NodeSource repository
  .container-use/AGENT.md
  .container-use/environment.json
Due: eslint --fix, prettier --write, textlint --fix

Path conditions:
  eslint --fix: any of: *.{ts,js,cjs,mjs,json,yml,astro}
  prettier --write: (any of: *.{ts,js,cjs,mjs,json,yml,astro}) or (any of: *.md)
  textlint --fix: any of: *.md
