Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,json,yml,astro}": ["eslint --fix", "prettier --write"],
  "src/content/posts/*.md": ["prettier --write", "textlint --fix"]
}

test(create-post): replace stub tests with real checkSameSlug tests (#862)
  AGENTS.md
  tools/create-post/index.test.ts
Due: eslint --fix, prettier --write

fix(test/pages): add pubDate/description assertions and getEntry null test
  src/pages/og/[slug].png.test.ts
  src/pages/rss.xml.test.ts
Due: eslint --fix, prettier --write

fix(about): replace unsupported sm:px-10 @apply with @media query
  src/pages/about.astro
Due: eslint --fix, prettier --write

test(pages): add tests for RSS feed and OG image page routes
  src/pages/og/[slug].png.test.ts
  src/pages/rss.xml.test.ts
Due: eslint --fix, prettier --write

test(pages): replace bare any with proper type aliases to fix ESLint validation
  src/pages/og/[slug].png.test.ts
  src/pages/rss.xml.test.ts
Due: eslint --fix, prettier --write

fix(test/pages): add @reference for TailwindCSS 4 and move tests out of src/pages
  src/__tests__/pages/og/[slug].png.test.ts
  src/__tests__/pages/rss.xml.test.ts
  src/pages/about.astro
Due: eslint --fix, prettier --write

test(pages): add tests for RSS feed and OG image routes (#859)
  src/__tests__/pages/og/[slug].png.test.ts
  src/__tests__/pages/rss.xml.test.ts
  src/pages/about.astro
Due: eslint --fix, prettier --write

chore(test): exclude .astro files from coverage
  vitest.config.ts
Due: eslint --fix, prettier --write

test: improve test coverage across the codebase (#856)
  .claude/settings.json
  AGENTS.md
  pnpm-lock.yaml
  src/__tests__/pages/og/[slug].png.test.ts
  src/__tests__/pages/rss.xml.test.ts
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/OgpImage.test.ts
  src/components/OgpImage.tsx
  src/components/ProductionOnly.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
  src/lib/repositories/posts.test.ts
  src/pages/about.astro
  src/test/helpers.ts
  tools/create-post/index.test.ts
  tools/remark-ogp-card/index.test.ts
  tools/remark-ogp-card/index.ts
  tools/remark-ogp-card/package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add coverage to eslint ignores and fix prettier formatting
  eslint.config.mjs
  src/components/ProductionOnly.test.ts
Due: eslint --fix, prettier --write

fix: migrate to native ESLint flat config and replace node:punycode
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tools/remark-ogp-card/index.ts
Due: eslint --fix, prettier --write

fix(styles): ensure remark-card width extends to full main container
  src/styles/markdown-body.css
Due: none

fix(styles): ensure remark-card width extends to full main container (#868)
  src/styles/markdown-body.css
Due: none

feat(harness): enable typecheck, fix hook stderr suppression, enforce no-explicit-any
  .claude/settings.json
  .github/workflows/lint-and-build.yml
  astro.config.ts
  eslint.config.mjs
  package.json
  src/__tests__/pages/og/[slug].png.test.ts
  src/__tests__/pages/rss.xml.test.ts
  src/lib/repositories/posts.test.ts
  src/pages/og/[slug].png.ts
  src/types/remark-code-titles.d.ts
  src/types/satori-tw.d.ts
  tools/create-post/index.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: migrate from husky to lefthook for git hooks
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(harness): update hook config and documentation
  AGENTS.md
  lefthook.yml
Due: eslint --fix, prettier --write

chore(harness): improve PostToolUse hook with pnpm exec and per-extension routing
  .claude/settings.json
Due: eslint --fix, prettier --write

chore: add .worktrees to .gitignore
  .gitignore
Due: none

feat: redesign UI with Every Layout, Utopia, and CUBE CSS
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ProfileCard.astro
  src/components/Tag.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/pages/tags/[tag].astro
  src/styles/global.css
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

fix: resolve type error and test environment for upcoming major upgrades
  astro.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: migrate pnpm config to allowBuilds for pnpm 11
  package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore(lint): enforce AAA test comments and detect unused eslint-disable
  eslint.config.mjs
  package.json
  src/__tests__/pages/og/[slug].png.test.ts
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/OgpImage.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
  tools/remark-ogp-card/index.test.ts
Due: eslint --fix, prettier --write

docs: rewrite README as living context entry point
  README.md
Due: none

feat(admin): scaffold tools/admin package for web-based post authoring
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/admin/index.html
  tools/admin/package.json
  tools/admin/src/App.tsx
  tools/admin/src/main.tsx
  tools/admin/src/pages/Login.tsx
  tools/admin/src/pages/PostEditor.tsx
  tools/admin/src/pages/PostList.tsx
  tools/admin/src/styles/index.css
  tools/admin/tsconfig.json
  tools/admin/vite.config.ts
  tools/admin/vitest.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(prettier): ignore .claude/ local files
  .prettierignore
Due: none

fix: avoid textlint false positive
  src/content/posts/2020-01-hurikaeri.md
Due: prettier --write, textlint --fix

style: format Markdown with Prettier 3.9
  src/content/posts/satori-og-image.md
Due: prettier --write, textlint --fix

fix: support astro-eslint-parser v3 exports
  eslint.config.mjs
Due: eslint --fix, prettier --write

fix: migrate configuration for Astro 7
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(ai-dlc): add inception and construction skills with recording conventions
  .claude/scripts/check-recording-setup.sh
  .claude/scripts/glossary-drift.sh
  .claude/scripts/memory-candidates.sh
  .claude/skills/construction-design/SKILL.md
  .claude/skills/construction-explore/SKILL.md
  .claude/skills/construction-implement/SKILL.md
  .claude/skills/construction-review/SKILL.md
  .claude/skills/construction-test-design/SKILL.md
  .claude/skills/construction-verify/SKILL.md
  .claude/skills/construction/SKILL.md
  .claude/skills/construction/references/artifact-schemas.md
  .claude/skills/construction/references/learn.md
  .claude/skills/construction/references/sensors.md
  .claude/skills/inception/README.md
  .claude/skills/inception/SKILL.md
  .claude/skills/inception/references/dialogue-guide.md
  .claude/skills/inception/references/glossary-and-adr.md
  .claude/skills/inception/references/us-ac-template.md
  .claude/skills/unit-splitting/SKILL.md
  .gitignore
  docs/adr/0001-recording-fires-at-approval-gates.md
  docs/adr/0002-recording-implemented-in-repository.md
  docs/adr/0005-memory-split-per-stage.md
  docs/glossary.md
  docs/intents/.gitkeep
  docs/recording-conventions.md
  docs/rules/construction.md
  docs/rules/inception.md
  docs/rules/project.md
  lefthook.yml
Due: eslint --fix, prettier --write

docs(quick-draft): record inception artifacts and design decisions
  docs/adr/0003-articles-stay-as-markdown-in-this-repository.md
  docs/adr/0004-treat-idea-to-publish-as-one-change.md
  docs/adr/0006-build-our-own-admin-screen-for-writing.md
  docs/intents/quick-draft/00_intent.md
  docs/intents/quick-draft/01_current-and-constraints.md
  docs/intents/quick-draft/02_user-stories.md
  docs/intents/quick-draft/03_units.md
  docs/intents/quick-draft/memory/step0.md
  docs/intents/quick-draft/memory/step1.md
  docs/intents/quick-draft/memory/step2.md
  docs/intents/quick-draft/memory/step3.md
  docs/intents/quick-draft/memory/step4.md
  docs/intents/quick-draft/questions.md
Due: none

feat(ai-dlc): add unattended construction path with blocked state
  .claude/scripts/check-recording-setup.sh
  .claude/skills/construction-design/SKILL.md
  .claude/skills/construction-explore/SKILL.md
  .claude/skills/construction-implement/SKILL.md
  .claude/skills/construction-review/SKILL.md
  .claude/skills/construction-test-design/SKILL.md
  .claude/skills/construction-unattended/SKILL.md
  .claude/skills/construction-verify/SKILL.md
  .claude/skills/construction/SKILL.md
  .claude/skills/construction/references/unattended.md
  docs/adr/0007-unattended-runs-move-recording-decisions-to-review.md
  docs/recording-conventions.md
Due: none

docs(quick-draft): record textlint --fix exit code behavior
  docs/intents/quick-draft/questions.md
Due: none

docs(rules): define branch, commit and PR conventions for unit work
  .claude/scripts/check-recording-setup.sh
  docs/rules/project.md
Due: none

docs(quick-draft): revise unit definitions for the admin screen approach
  docs/intents/quick-draft/02_user-stories.md
  docs/intents/quick-draft/03_units.md
  docs/intents/quick-draft/memory/step4.md
  docs/intents/quick-draft/questions.md
Due: none

docs(quick-draft): add execution plan for running all four units
  docs/intents/quick-draft/execution-plan.md
Due: none

docs(quick-draft): align execution steps with what the construction skill does
  docs/intents/quick-draft/execution-plan.md
Due: none

docs(draft-anywhere): record explore findings and block on admin hosting decision
  docs/intents/quick-draft/units/draft-anywhere/blocked.md
  docs/intents/quick-draft/units/draft-anywhere/explore/constraints.md
  docs/intents/quick-draft/units/draft-anywhere/explore/design-decisions.md
  docs/intents/quick-draft/units/draft-anywhere/explore/memory.md
  docs/intents/quick-draft/units/draft-anywhere/explore/open-questions.md
  docs/intents/quick-draft/units/draft-anywhere/explore/test-strategy.md
  docs/intents/quick-draft/units/draft-anywhere/progress.md
  docs/intents/quick-draft/units/draft-anywhere/records.md
Due: none

docs(rules): add construction stage practices and admin screen glossary entry
  docs/glossary.md
  docs/rules/construction.md
  docs/rules/project.md
Due: none

docs(draft-anywhere): mark unverified hosting claims and record glossary drift check
  docs/intents/quick-draft/units/draft-anywhere/blocked.md
  docs/intents/quick-draft/units/draft-anywhere/records.md
Due: none
