Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

tmp
  package.json
  pnpm-lock.yaml
  src/components/TableOfContents.tsx
  src/pages/posts/[slug].astro
Due: eslint --fix, prettier --write

Modify punycode (remark-ogp-card)
  tools/remark-ogp-card/index.js
Due: eslint --fix, prettier --write

Update ReadingProgress component
  src/components/ReadingProgress.astro
Due: eslint --fix, prettier --write

Update post/create-reading-progress
  src/content/posts/create-reading-progress.md
Due: prettier --write, textlint --fix

Rename ReadingProgress -> ReadingProgressBar
  src/components/ReadingProgressBar.astro
  src/pages/posts/[slug].astro
Due: eslint --fix, prettier --write

Workaround: Add server.host in astro config
  astro.config.mjs
Due: eslint --fix, prettier --write

Update pnpm-lock
  pnpm-lock.yaml
Due: none

Update pnpm version
  .github/workflows/lint-and-build.yml
Due: eslint --fix, prettier --write

Update eslint v9
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/posts/[slug].astro
  src/pages/tags/[tag].astro
  tailwind.config.mjs
  tools/remark-ogp-card/index.js
Due: eslint --fix, prettier --write

Update prettier
  package.json
  pnpm-lock.yaml
  src/components/Tag.astro
Due: eslint --fix, prettier --write

Add ViewTransitions
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write

Update post/use-null-coalescing-operator
  src/content/posts/use-null-coalescing-operator.md
  tools/create-post/tags.json
Due: eslint --fix, prettier --write, textlint --fix

Update posts/parseInt-and-Number
  src/content/posts/parseInt-and-Number.md
Due: prettier --write, textlint --fix

remark-ogp-card: Modify youtube card
  tools/remark-ogp-card/index.js
Due: eslint --fix, prettier --write

remark-ogp-card: refactor create card element
  tools/remark-ogp-card/index.js
Due: eslint --fix, prettier --write

Update markdown hr
  src/styles/markdown-body.css
Due: none

Update astro
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add: rehype-budoux-paragraph
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update Astro 5
  package.json
  pnpm-lock.yaml
  src/content.config.ts
  src/env.d.ts
  src/pages/index.astro
  src/pages/og/[slug].png.ts
  src/pages/posts/[id].astro
  src/pages/rss.xml.ts
  src/pages/tags/[tag].astro
  tsconfig.json
Due: eslint --fix, prettier --write

Post upgrade-astro-5
  src/content/posts/upgrade-astro-5.md
Due: prettier --write, textlint --fix

fix: Update server.host
  astro.config.mjs
Due: eslint --fix, prettier --write

fix(create-post): Add -C option at start script
  tools/create-post/package.json
Due: eslint --fix, prettier --write

Post cors-safelisted-response-headers
  src/content/posts/cors-safelisted-response-headers.md
Due: prettier --write, textlint --fix

Draft: post/still-in-illusion
  src/content/posts/still-in-illusion.md
Due: prettier --write, textlint --fix

Update still-in-illusion
  src/content/posts/still-in-illusion.md
Due: prettier --write, textlint --fix

Update TailwindCSS v4
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReadingProgressBar.astro
  src/components/Tag.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/pages/tags/[tag].astro
  src/styles/global.css
  src/styles/markdown-body.css
  tailwind.config.mjs
Due: eslint --fix, prettier --write

Fix lint
  src/styles/markdown-body.css
Due: none

Fix reference css and create theme font-sacramento
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReadingProgressBar.astro
  src/components/Tag.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Revert "fix(deps): update tailwindcss monorepo to v4.0.5"
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Revert "fix(deps): update tailwindcss monorepo to v4.0.4"
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(tailwind): Delete theme
  src/components/Header.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

chore(tailwind): fix import tailwind
  src/styles/markdown-body.css
Due: none

Revert "Fix reference css and create theme font-sacramento"
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReadingProgressBar.astro
  src/components/Tag.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Revert "TailwindCSS v4"
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReadingProgressBar.astro
  src/components/Tag.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/pages/tags/[tag].astro
  src/styles/global.css
  src/styles/markdown-body.css
  tailwind.config.mjs
Due: eslint --fix, prettier --write

fix: Update TailwindCSS v4
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ReadingProgressBar.astro
  src/components/Tag.astro
  src/layouts/MarkdownLayout.astro
  src/pages/index.astro
  src/pages/posts/[id].astro
  src/pages/tags/[tag].astro
  src/styles/global.css
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

Add post/4yo-photographer-kaiyukan
  src/content/images/4yo-photographer-kaiyukan/R0002207.jpg
  src/content/images/4yo-photographer-kaiyukan/R0002228.jpg
  src/content/images/4yo-photographer-kaiyukan/R0002270.jpg
  src/content/images/4yo-photographer-kaiyukan/R0002305.jpg
  src/content/posts/4yo-photographer-kaiyukan.md
Due: prettier --write, textlint --fix

fix lint
  src/styles/global.css
Due: none

feat: add optional description field to posts and update related layouts
  src/content.config.ts
  src/content/posts/2018-hurikaeri.md
  src/content/posts/4yo-photographer-kaiyukan.md
  src/content/posts/cors-safelisted-response-headers.md
  src/layouts/Layout.astro
  src/pages/posts/[id].astro
Due: eslint --fix, prettier --write, textlint --fix

Path conditions:
  eslint --fix: any of: *.{ts,js,cjs,mjs,json,yml,astro}
  prettier --write: (any of: *.{ts,js,cjs,mjs,json,yml,astro}) or (any of: *.md)
  textlint --fix: any of: *.md
