Repository 70-10/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, textlint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,mjs,json,yml,astro}": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write", "textlint --fix"]
}

Installing Node.js and pnpm 10.12.1 as specified in mise.toml
  .container-use/AGENT.md
  .container-use/environment.json
Due: eslint --fix, prettier --write, textlint --fix

Adding test:coverage script to package.json
  package.json
Due: eslint --fix, prettier --write

Adding json-summary reporter to vitest.config.ts for GitHub Actions integration
  vitest.config.ts
Due: eslint --fix, prettier --write

Adding permissions and vitest-coverage-report action to GitHub Actions workflow
  .github/workflows/lint-and-build.yml
Due: eslint --fix, prettier --write

Add post/container-use-issue-workflow
  src/content/posts/container-use-issue-workflow.md
Due: prettier --write, textlint --fix

Fix lint
  .github/workflows/lint-and-build.yml
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Remove .container-use/
  .container-use/AGENT.md
  .container-use/environment.json
Due: eslint --fix, prettier --write, textlint --fix

Add my-mcp-servers
  src/content/posts/my-mcp-servers.md
Due: prettier --write, textlint --fix

Update pnpm
  mise.toml
Due: none

Update post/my-mcp-servers
  src/content/posts/my-mcp-servers.md
Due: prettier --write, textlint --fix

chore(textlint): lint content posts directory
  package.json
Due: eslint --fix, prettier --write

fix lint
  src/content/posts/2019-hurikaeri.md
  src/content/posts/bun-coverage-report-action.md
  src/content/posts/create-reading-progress.md
  src/content/posts/from-you-10-years-ago.md
  src/content/posts/netlify-to-cloudflare-pages.md
  src/content/posts/oauth-oidc-studying.md
  src/content/posts/serverless-webpack-node_env.md
  src/content/posts/why-i-dont-use-else-if.md
Due: prettier --write, textlint --fix

docs: add AGENTS.md and create CLAUDE.md symlink
  AGENTS.md
  CLAUDE.md
Due: prettier --write, textlint --fix

chore: add Claude Code commands for blog post creation and styling
  .claude/commands/blog-samples.md
  .claude/commands/blog-style-guide.md
  .claude/commands/draft.md
  .lintstagedrc.json
  .textlintignore
Due: eslint --fix, prettier --write, textlint --fix

Design improvements: enhance typography and visual refinement
  src/components/Footer.astro
  src/components/Header.astro
  src/components/ProfileCard.astro
  src/components/Tag.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

feat: add Mermaid diagram support
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/styles/markdown-body.css
Due: eslint --fix, prettier --write

chore: remove Google Analytics 4 and related components
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/GoogleAnalytics4.astro
  src/components/ProductionOnly.astro
  src/layouts/Layout.astro
  src/lib/environments.test.ts
  src/lib/environments.ts
  src/pages/privacy-policy.md
Due: eslint --fix, prettier --write, textlint --fix

refactor: remove Footer component and GA4 integration
  AGENTS.md
  src/components/Footer.astro
  src/layouts/Layout.astro
  src/layouts/MarkdownLayout.astro
Due: eslint --fix, prettier --write, textlint --fix

Add posts/cc-slash-command-argments
  src/content/posts/cc-slash-command-argments.md
Due: prettier --write, textlint --fix

Add post/no-write-no-read
  src/content/posts/no-write-no-read.md
Due: prettier --write, textlint --fix

chore(test): migrate vitest config to getViteConfig and add Claude formatting hooks
  .claude/settings.json
  vitest.config.ts
Due: eslint --fix, prettier --write

test(posts): refactor sortByPublishDate tests and add getPosts tests
  src/lib/repositories/posts.test.ts
Due: eslint --fix, prettier --write

test(remark-ogp-card): add tests for createElement, createCardElement, createYouTubeFrameElement, and ogpCardPlugin
  pnpm-lock.yaml
  tools/remark-ogp-card/index.test.ts
  tools/remark-ogp-card/index.ts
  tools/remark-ogp-card/package.json
Due: eslint --fix, prettier --write

test(ogp-image): add tests for OGP image generation
  src/components/OgpImage.test.ts
Due: eslint --fix, prettier --write

test(components): add Astro component tests using Container API
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/ProductionOnly.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
  src/test/helpers.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test(create-post): replace stub tests with real checkSameSlug tests
  tools/create-post/index.test.ts
Due: eslint --fix, prettier --write

fix(test/create-post): address PR review feedback
  AGENTS.md
  tools/create-post/index.test.ts
Due: eslint --fix, prettier --write, textlint --fix

fix(test/posts): address PR review feedback
  src/lib/repositories/posts.test.ts
Due: eslint --fix, prettier --write

fix(test/remark-ogp-card): address PR review feedback
  tools/remark-ogp-card/index.test.ts
Due: eslint --fix, prettier --write

fix(test/ogp-image): address PR review feedback
  src/components/OgpImage.test.ts
Due: eslint --fix, prettier --write

test(components): address PR review feedback
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/ProductionOnly.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
Due: eslint --fix, prettier --write

fix(test/posts): strengthen timezone assertion and add negative cases
  src/lib/repositories/posts.test.ts
Due: eslint --fix, prettier --write

fix(test/remark-ogp-card): fix consoleSpy bug, add clearAllMocks and negative cases
  tools/remark-ogp-card/index.test.ts
Due: eslint --fix, prettier --write

fix(test/ogp-image): add fontData guard, fetch failure tests and JSX verification
  src/components/OgpImage.test.ts
  src/components/OgpImage.tsx
Due: eslint --fix, prettier --write

fix(test/components): add href assertions, improve back button test, document static components
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
Due: eslint --fix, prettier --write

fix(test/create-post): restructure into Positive/Edge/Negative and add error tests
  tools/create-post/index.test.ts
Due: eslint --fix, prettier --write

test(components): add Astro component tests using Container API (#861)
  src/components/Footer.test.ts
  src/components/Header.test.ts
  src/components/ProductionOnly.test.ts
  src/components/ProfileCard.test.ts
  src/components/ReadingProgressBar.test.ts
  src/components/Tag.test.ts
  src/test/helpers.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test(posts): refactor sortByPublishDate and add getPosts tests (#857)
  src/lib/repositories/posts.test.ts
Due: eslint --fix, prettier --write

test(remark-ogp-card): add tests for private functions and plugin integration (#858)
  pnpm-lock.yaml
  tools/remark-ogp-card/index.test.ts
  tools/remark-ogp-card/index.ts
  tools/remark-ogp-card/package.json
Due: eslint --fix, prettier --write

test(ogp-image): add tests for OGP image generation (#860)
  src/components/OgpImage.test.ts
  src/components/OgpImage.tsx
Due: eslint --fix, prettier --write
